.star-filled {
    color: yellow;
}

.star-empty {
    color: black;
}

.star-filled:hover {
    cursor: pointer;
}

.star-empty:hover {
    cursor: pointer;
}
.smaller-input {
    width: 250px; /* Adjust the width as needed */
}
.form-register {
    height: 100vh;
}

.star {
    font-size: 50px; /* Adjust the size as needed */
}
